#main-navbar{
  background-color:blue;
  position: relative;

#main-navbar ul {
  list-style-type: none;
  display:inline-block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a{
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

#navbar-container{
  position: relative;
  text-align: center;
  width: 100%
}


#onpage{
  position:relative;
  right: 50%
  background-color: #000;
  text-decoration: underline overline;
}