#main-navbar{
  background-color:blue;
  position: relative;
  list-style-type: none;
  display: block;
  padding: 10px 20px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#navbar-container{
  position: relative;
  text-align: center;
  width: 100%
}

#onpage{
  position:relative;
  right: 50%
  background-color: #000;
  text-decoration: underline overline;
}

left:50%
  float: left;
  width: 100%